* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default settings */

body{
background: linear-gradient(227deg, #ddede046, #b5dde925);

}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
padding: 10px;
gap: 10px;
align-items: stretch;
}

.box {
  padding: 15px;
  text-align: start;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  margin-right: 10px;
  font-weight: 900;
  transition: 1s, ease;
}

a:hover {
  color: rgb(128, 39, 39);
}


.line {
  display: flex;
  height: 4px;
  width: 100%;
  background: linear-gradient(227deg, #33a94790, #197f9e8d);
  margin: 0 auto;
  align-items: flex-end;
}

h1 {
  font-size: 34px;

}

h2 {
  color: #000;
  font-size: 24px;
}

ul, ol{
  list-style-type: none;
  }
  
li {
  margin: 12px 0;
  font-family: sans-serif;
  font-weight: 400;
  color: #000;
}

i {
  color: rgba(126, 187, 189, 0.463);
}

p {
  padding: 3px ;

}

/* colors */

.blue {
  color: #297bee;
}

.white-yellow {
  color: #a8ae00;
}

.yellow {
  color: #f6fa77;
}

.pink {
  color: #bd0e91;
}

.grey {
  color: #999;
}

.hide {
  opacity: 0;
}

.code {
  background-color: #222;
  width: 350px;
  margin-top: 12px;
  padding:25px 15px;
  border-radius: 5px;
  border: solid 1px #000;
}

/* Header styles */

header {
  background: linear-gradient(227deg, #33a94790, #197f9e8d);
  height: 70px;
  flex-direction: row;
  align-items: center;
}

header .container {
  margin:auto;
  float: left;
  flex-direction: row;
  align-items: center;
}


/* main styles */
main {
  width: 80%;
  margin: 0 auto;
  
}

main .top {
  padding: 30px 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.top .line {
    height: 2px;
    width: 40%;
    background: linear-gradient(227deg, #33a94790, #197f9e8d);
    margin: 0 auto;
    margin-bottom: 20px;
}

main .line {
  height: 10px; 
  width: 100%;
}

main .left {
  border-radius: 50%;
  background-image: url(./img.jpg);
  background-size: 155px;
  background-repeat: no-repeat;
  width: 155px;
  height: 155px;
  background-position-y: -60px;
}

main .right {
  align-items: center;
  flex-direction: column;
}

main .box .line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

.box img {
  width: 13px;
  height: 12px;
}

main .grid a {

  font-size: 16px;
  font-weight: 400;
}


main .grid a:hover {
  color: rgba(126, 187, 189, 0.556);
}

.box .info {
  display: block;
  font-size: 20px;
  letter-spacing: 0.6px;
  font-family: sans-serif;
  font-weight: 200;
  max-width: 70%;
  padding: 12px 0;
  line-height: 28px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(227deg, #33a94790, #197f9e8d);
  padding: 15px;

}

footer img {
  width: 40px;
  height: 40px;
}

footer .rs {
  height: 110px;
  width: 110px;
  position: absolute;
  bottom: -24%;
}

footer span {
  font-size: 24px;
  font-weight: 900;
}